{% extends 'main.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="container newtask">
    <form method="post" enctype="multipart/form-data" action="{% url 'new_task' %}">
        {% csrf_token %}
        <br>
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label col-form-label-lg">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-lg" id="title" name="title" placeholder="write task title here. . ." required>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description" name="description" rows="3" placeholder="write task description here . . ."></textarea>      
            </div>
        </div>
        <div class="form-group row">
            <h4 class="col-sm-2 col-form-label">Completed ?</h4>
            <div class="col-sm-10">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="completed" id="completed-false" value="False" checked>
                <label class="form-check-label" for="completed-false">No</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="completed" id="completed-true" value="True">
                <label class="form-check-label" for="completed-true">yes</label>
            </div>      
        </div>
        <div class="form-group row">
            <div class="col-6">
                <label for="task_image" class="col-5 col-form-label">Image</label>    
            </div>       
            
            <div class="col-6">
                <input type="file" name="task_image" id="task_image" class="form-control-file border">     
            </div>
        </div>
        </div>
            <div class="form-group form-inline">
                <a class="btn btn-info form-control btn-lg" style= "margin: 5px 5px 5px 5px" href="{% url 'tasks' %}" role="button">Back to Tasks</a>
                <button class="btn btn-dark form-control btn-lg" style= "margin: 5px 5px 5px 5px" type="submit">Create it!</button>
            </div>  
    </form>

</div>
{% else %}
    <div class="container text-center newtask">
        <h1><kbd>pLEASE rEGISTER or LOgiN</kbd></h1>
    </div>
{% endif %}
{% endblock content %}
